.row {
  margin: 100px;
}

.col-4 :hover {
  background-color: rgb(233, 159, 255);
}

img {
  width: 80%;
}

.col-7__progress-bar {
  margin-bottm: 20px;
}

@media screen and (max-width: 770px) {
  .row {
    width: 80%;
    margin-left: 10%;
  }
}
