@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:ital,wght@1,600&family=Raleway&family=Redressed&family=Roboto:ital,wght@1,300&family=Zen+Kurenaido&display=swap");

.row {
  margin: 100px;
}

.col-md-4 :hover {
  background-color: rgb(230, 230, 230);
}

img {
  width: 80%;
}

mat-card {
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  margin-bottom: 30px;
  animation-name: change_place;
  animation-duration: 2s;
  font-family: "Zen Kurenaido", sans-serif;
}

@keyframes change_place {
  0% {
    background-color: rgba(13, 97, 194, 0.397);
    left: 200px;
  }
  100% {
    background-color: rgb(255, 255, 255);
    left: 0px;
  }
}
