.row {
  margin: 100px;
}

.col-md-7__content {
  margin-top: 150px;
}

.col-md-7__progress-bar {
  margin-top: 20px;
  width: 60%;
}

.col-md-12 :hover {
  background-color: rgb(230, 230, 230);
}

.img img {
  max-height: 300px;
}

button {
  background-color: rgba(13, 97, 194, 0.397);
  width: 60%;
  color: black;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 30px;
}
