#header {
  background-color: rgba(70, 89, 196, 0.76);
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

h2 {
  font-size: 70px;
}

h1,
h2 {
  font-weight: bolder;
}

p {
  font-size: 20px;
}

.progress-bar {
  margin-top: 20px;
}

button {
  height: 60px;
}

img {
  height: 200px;
}
