@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:ital,wght@1,600&family=Raleway&family=Redressed&family=Roboto:ital,wght@1,300&family=Titillium+Web:ital@1&family=Zen+Kurenaido&display=swap");
p {
  margin: 30px;
}

.toolbar {
  background-color: rgb(9, 45, 87);
}

.dark-mode {
  margin-right: 0;
  color: black;
}

.drawer-container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

button {
  color: black;
}

mat-drawer {
  background-color: rgb(255, 255, 255);
  width: 200px;
}

.sideNav__list {
  margin-top: 100px;
}

.sideNav__list__item {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  border-radius: 0;
  height: 59px;
  font-size: 20px;
  font-family: "Zen Kurenaido", sans-serif;
}

mat-icon {
  color: aliceblue;
}
