p {
  margin: 30px;
}

.toolbar {
  background-color: rgb(9, 45, 87);
}

button {
  color: black;
}

.drawer-container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.dark-mode__toggle {
  margin-right: 0;
  color: black;
}

.sideNav__list {
  margin-top: 100px;
}

.sideNav__list__item {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  border-radius: 0;
  height: 59px;
  font-size: 20px;
}

mat-icon {
  color: aliceblue;
}

mat-drawer {
  background-color: rgb(255, 255, 255);
  width: 200px;
}
