<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav2" mode="side">
    <div class="sideNav__list">
      <button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/menu"
      >
        <p>Welcome page</p>
      </button>
      <button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/menu/menu"
      >
        <p>menu</p>
      </button>
      <button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/admin"
      >
        <p>admin panel</p></button
      ><button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/weather"
      >
        <p>weather</p>
      </button>
    </div>
  </mat-drawer>
  <mat-toolbar color="primary">
    <div class="col-11">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button type="button" mat-button routerLink="/menu">
        <mat-icon> home </mat-icon>
      </button>
    </div>
    <div class="col-1">
      <div class="dark-mode__toggle">
        <mat-slide-toggle [(ngModel)]="darkMode">
          <mat-icon> light_mode </mat-icon></mat-slide-toggle
        >
      </div>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>
