<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav2" mode="side">
    <div class="sideNav__list">
      <button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/menu"
        (click)="showProgressBar()"
      >
        <p>Welcome page</p>
      </button>
      <button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/menu/menu"
        (click)="showProgressBar()"
      >
        <p>menu</p>
      </button>
      <button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/admin"
        (click)="showProgressBar()"
      >
        <p>admin panel</p></button
      ><button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/weather"
        (click)="showProgressBar()"
      >
        <p>weather</p></button
      ><button
        type="button"
        class="sideNav__list__item"
        mat-button
        routerLink="/registrations"
        (click)="showProgressBar()"
      >
        <p>registration forms</p>
      </button>
    </div>
  </mat-drawer>
  <mat-toolbar>
    <div class="col-11">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button type="button" mat-button routerLink="/menu">
        <mat-icon> home </mat-icon>
      </button>
    </div>
    <div class="col-1">
      <div class="dark-mode__toggle">
        <mat-slide-toggle
          class="example-button"
          [(ngModel)]="darkMode"
          matTooltip="Switch between themes ...!"
          matTooltipClass="tooltip-blue"
        >
          <mat-icon> light_mode </mat-icon></mat-slide-toggle
        >
      </div>
    </div>
  </mat-toolbar>
  <div *ngIf="sideBarBtnsClicked && value !== 100" class="progress-bar">
    <mat-progress-bar
      mode="determinate"
      [value]="value"
      color="accent"
    ></mat-progress-bar>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
