<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="mat-card__global">
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4__content">
              <form class="form">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput />
                </mat-form-field>
              </form>
              <mat-card-actions>
                <button mat-raised-button (click)="onStart()">
                  <p>start</p>
                </button>
                <div *ngIf="started" class="col-md-4__progress-bar">
                  <mat-progress-bar
                    mode="determinate"
                    [value]="value"
                    color="accent"
                  ></mat-progress-bar>
                </div>
              </mat-card-actions>
            </div>
          </div>
          <div class="col-md-8">
            <div class="img">
              <img src="../../../.././assets/svg/weather.svg" alt="weather" />
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
